/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
   
*/

.textnoir{
    -fx-font-size:27;
    -fx-font-weight:bold;
    -fx-text-fill: #424242;
}

.contenunoir{
    -fx-font-size:22;
    -fx-font-weight:bold;
    -fx-text-fill: #424242;
}

.names{
    -fx-font-size:27;
    -fx-font-weight:bold;
    -fx-text-fill: #6a7d9a;
}
.titre{
    -fx-font-size:27;
    -fx-font-weight:bold;
    -fx-text-fill: #6a7d9a;
}
.date{
    -fx-font-size:22;
    -fx-font-weight:bold;
    -fx-text-fill: #78909C;
}

/*******************************************************************************
*                                                                              *
* JFX Spinner                                                                  *
*                                                                              *
*******************************************************************************/

.jfx-spinner .arc {
    -fx-stroke-width: 3.0;
}

.first-spinner {
    -jfx-radius: 130;
}

.first-spinner .arc {
    -fx-stroke-width: 5.0;
}

.second-spinner {
    -jfx-radius: 140;
}

.second-spinner .arc {
    -fx-stroke-width: 5.0;
}

.third-spinner {
    -jfx-radius: 150;
}

.third-spinner .arc {
    -fx-stroke-width: 5.0;
}

.fourth-spinner {
    -jfx-radius: 160;
}

.fourth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.fifth-spinner {
    -jfx-radius: 170;
}

.fifth-spinner .arc {
    -fx-stroke-width: 5.0;
}

.sixth-spinner {
    -jfx-radius: 180;
}

.sixth-spinner .arc {
    -fx-stroke-width: 5.0;
}
/*#64B5F6

#42A5F5

#2196F3

#1E88E5

#1976D2

#1565C0

#0D47A1*/

.seventh-spinner {
    -jfx-radius: 190;
}

.seventh-spinner .arc {
    -fx-stroke-width: 5.0;
}

.blue-spinner .arc {
    -fx-stroke: #4285f4;
}

.red-spinner .arc {
    -fx-stroke: #db4437;
}

.green-spinner .arc {
    -fx-stroke: #0F9D58;
}

.yellow-spinner .arc {
    -fx-stroke: #f4b400;
}

.materialDesign-purple:indeterminate .arc {
    -fx-stroke: #ab47bc;
}

.materialDesign-blue .arc {
    -fx-stroke: #2962ff;
}

.materialDesign-blue .percentage{
    -fx-fill: #ab47bc;
}

.materialDesign-cyan .arc {
    -fx-stroke: #00b8d4;
}

.materialDesign-green .arc {
    -fx-stroke: #00c853;
}

.materialDesign-green .text{
    visibility: false;
}

.materialDesign-yellow .arc {
    -fx-stroke: #ffd600;
}

.materialDesign-orange .arc {
    -fx-stroke: #ff6d00;
}

.materialDesign-red .arc {
    -fx-stroke: #d50000;
}

.aaaroboto{
    -fx-font-weight:bold;
    -fx-text-fill: #424242;
    -fx-font-size:27;
}

.fab{
    -fx-pref-height:50px;   
    -fx-pref-width:50px;
    -fx-background-color: #ff4081;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,1);
}


.robotoSghir{
    -fx-text-fill: #424242;
    -fx-font-size:20;
}

.robotoAdresse{
    -fx-text-fill: #424242;
    -fx-font-size:19;
}